.label-file {
    cursor: pointer;
    color: #17a2b8;
    text-align: center;
    border: 1px solid #17a2b8;
    border-radius: 4px;
    font-size: 12px;
    padding: 6px 12px;
    line-height: 1.42857143;
    width: 100%;
    transition: 0.3s;
    font-weight: bold;
}
.label-file:hover {
    transition: 0.3s;
}
.input-file {
    display: none !important;
}
.jumbotron {
    padding: 1rem 1rem !important;
}
.tab-pane {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 250px;
    overflow-y: scroll
}
.separator hr {
    display: inline-block;
    margin: -20px;
}
.separator {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-room {
    max-height: 250px;
    overflow-y: scroll;
}
